<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='administration/admin.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='administration/navbar.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin Dashboard</title>
</head>
<body>
    {% include "administration/admin_navbar.html" %}
    <div class="content-wrapper">
        <div class="dashboard">
            <div class="card">
                <h2>Statistics</h2>
            </div> 
            <div class="card">
                <h2>Total Users</h2>
                <p>{{ total_users }}</p>
            </div>
            <div class="card">
                <h2>Total Tasks</h2>
                <p>{{ total_tasks }}</p>
            </div>
            <div class="card">
                <h2>Users Created In The Last 24 Hours</h2>
                <p>To Do</p>
            </div>
            <div class="card">
                <h2>Tasks Created In The Last 24 Hours</h2>
                <p>To Do</p>
            </div>
        </div>
    </div>
</body>
</html>
